#LOGIN::before {
    content: " ";
    position: absolute;
    background: url(../join.jpg) no-repeat center center/cover;
    height: 122%;
    top: 0px;
    left: 0px;
    width: 105%;
    z-index: -1;
    opacity: 0.89;
}
/* #navbar::before {
    content: " ";
    background-color: black;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 105%;
    z-index: -1;
    opacity: 0.4;
} */
.logo {
	float: left;
}
.logo img {
    height: 60px;
	width: 100%;
	padding: 15px 0;
}